@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
 
.main-box
{
    background: rgb(25, 22, 22);
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
}

.main-box h1{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 50px;
    color: rgb(218, 214, 214);

}

textarea{
    width: 600px;
    height:250px;
    background-color:  rgb(218, 214, 214);
    color:  rgb(25, 22, 22);
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder
{
    font-size: 16px;
    color: white;

}
.dropdown
{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}

button{
    background:rgb(236, 234, 234);
    color:  #2d2a32;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 35px;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
   
}
button img{
    width: 16px;
    margin-right: 10px;
    
}
select{
    flex: 1;
    background-color:rgb(236, 234, 234);
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
   
}